/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    /*background-color: #ecf0f5;*/
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.main-body {
    padding-top:0px;
}

/*blue2*/
.navbar-blue_2 {
    background: #0C2C4D; /*002d5b*/
    color: #ffffff;
}
.navbar-blue_2 .container-fluid {
    background: #0C2C4D; /*002d5b*/
    color: #ffffff;
}
.navbar-blue_2 a {
    color: #ffffff;
}
.navbar-blue_2 .navbar-header {
    text-align: center;
}

.navbar-blue_2 .navbar-brand:hover,
.navbar-blue_2 .navbar-brand:focus {
    transition: all 0.3s;
    color: #9f9f9f;
    background-color: transparent;
}
.navbar-blue_2 .navbar-nav > li > a:hover,
.navbar-blue_2 .navbar-nav > li > a:focus {
    transition: all 0.3s;
    color: #fff;
    background-color: #35597D;
}
.navbar-blue_2 .navbar-nav > .active > a,
.navbar-blue_2 .navbar-nav > .active > a:hover,
.navbar-blue_2 .navbar-nav > .active > a:focus {
    transition: all 0.3s ease;
    background-color: #35597D; /*124171*/ /*01458D*/
}
.navbar-blue_2 .navbar-nav > .disabled > a,
.navbar-blue_2 .navbar-nav > .disabled > a:hover,
.navbar-blue_2 .navbar-nav > .disabled > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-blue_2 .navbar-toggle:hover,
.navbar-blue_2 .navbar-toggle:focus {
    transition: all 0.3s;
    background-color: #35597D; /*002d5b*/
}
.navbar-blue_2 .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-blue_2 .navbar-collapse,
.navbar-blue_2 .navbar-form {
    border-color: #fff;
}
.navbar-blue_2 .navbar-nav > .open > a,
.navbar-blue_2 .navbar-nav > .open > a:hover,
.navbar-blue_2 .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #35597D;
}

/*switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /*60px*/
  height: 24px; /*34px*/
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /*26px*/
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px); /*26px*/
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*switch*/

/*navbar with save/update button*/
.save-navbar {
    background: rgba(204, 204, 204, 0.70);
}

/*table corrections*/
.table thead tr th {
    vertical-align: middle;
}

.table thead tr {
    color: #fff;
    background-color:#35597D;
}

.table {
   -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
            box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
}

.navbar-blue_2 {
    border-bottom: 3px solid #2196F3;
}

/*triangle denote*/
@media (min-width: 768px) {
    nav.navbar .navbar-nav li.nav-item.active:after {
          content: "";
          position: relative;
          margin-left: -15px;
          left: 50%;
          top: -20px;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid white;
    }

    .navbar-nav li.active:after, .navbar-nav li.active:before {
	    bottom: 0%;
        margin-bottom: -3px;
	    left: 50%;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
    }

    .navbar-nav li.active:after {
	    border-bottom-color: #fff;
	    border-width: 6px;
	    margin-left: -6px;
        z-index: 1;
    }
    .navbar-nav li.active:before {
	    border-bottom-color: #2196F3;
        border-width: 9px;
	    margin-left: -9px;
        z-index: 1;
    }
}

/*callout*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}